* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.mosaic {
  max-width: 1060px; /* three 300px images + 25px margins */
  margin: auto;
}

.mosaic-item {
  position: relative;
  display: inline-block;
  margin: 25px;
  width: 300px;
  height: 300px;
}

.mosaic-item img {
  width: 300px;
  height: 300px;
}

.mosaic-item .stopped {
   visibility: hidden;
   position: absolute;
   display: block;
   background: url(images/play.svg);
   height: 40px;
   width: 40px;
   top: 260px;
   left: 20px;
}

.mosaic-item:hover .stopped {
   visibility: visible;
}

.mosaic-item .playing {
   visibility: visible;
   position: absolute;
   display: block;
   background: url(images/now_playing.svg);
   height: 40px;
   width: 40px;
   top: 260px;
   left: 20px;
}

.mosaic-item:hover .playing {
   background: url(images/stop.svg);
}
